
p.payment_module a.privat24 {
    background: url(../../modules/privat24/views/img/bg_24.png) 15px 17px no-repeat #fbfbfb;
}

p.payment_module a.privat24::after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}
